<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello WS</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-12">
            <table id="message-history" class="table table-striped">
                <thead>
                <tr>
                    <th>Messages</th>
                </tr>
                </thead>
                <tbody id="messages" th:each="log: ${content}">
                    <tr>
                        <td th:text="${log}" />
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var stompClient = null;

    $(document).ready(function() {
        console.log("Index page is ready");
        connect();
    });

    function connect() {
        var socket = new SockJS('/our-websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (message) {
                console.log(message);
                showMessage(JSON.parse(message.body).content);
            });
        });
    }

    function showMessage(message) {
        $("#messages").append("<tr><td>" + message + "</td></tr>");
    }
</script>
</body>
</html>